* {
  padding: 0;
  margin: 0;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.background {
  max-width: auto;
  margin: auto;
  z-index: -1;
  position: relative;
}

.background video {
  width: 100%;
  display: block;
}
